@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
}

.blog-img-container {
	text-align: center;
}
section.blog-container {
	padding: 0 10px;
	padding-left: 30px;
}
.blog-img {
	width: 80%;
	margin-bottom: 2rem;
}
body {
    font-family: var(--Playfair);
}
h1.blog-title {
	font-family: var(--Roboto);
	font-size: 3rem;
	max-width: 70%;
	margin: 50px 0;
	margin-bottom: 3rem;
}
.blog-container p {
	font-size: 1.4rem;
	margin-bottom: 1rem;
	font-weight: 300;
}
h2.blog-subtitle {
	font-size: 2rem;
	max-width: 80%;
	margin: 30px 0;
	margin-top: 3rem;
}
.blog-review {
	display:flex;
	flex-direction: column;
	padding: 0 70px;
}
ul{
	padding-left: 40px;
}
.like {
	font-size: 2rem;
	margin-bottom: 1rem;
	padding-left: 60px;
}
.like i {
	color:tomato;
	height:20px;
}
.comment-box{
	top: 50%;
	left: 50%;
	width: 500px;
	padding-top: 10px;
	padding-left: 60px;
	padding-bottom: 30px;
}
.comment-box input{
	width: 100%;
	height: 50px;
	padding: 0 20px;
	margin-bottom: 15px;
	border-radius: 5px;
	border: 1px solid #3d6369;
}
.comment-box input:focus{
	border: 1px solid #000;
	outline: 0;
}
.comment-box textarea{
	width: 100%;
	height: 150px;
	padding: 15px 20px;
	margin-bottom: 15px;
	border-radius: 5px;
	border: 1px solid #86b0b6;
}
.comment-box textarea:focus{
	border: 1px solid #000;
	outline: 0;
}
.comment-box button{
	border: 0;
	padding: 10px 30px;
	background: #86b0b6;
	font-size: 18px;
	border-radius: 5px;
	color: #fff;
}
.comment-box button:hover{
	background-color: #718a8e;
}